.logo {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: auto;
  margin-bottom: 40px;
  flex-wrap: wrap;
  width: 400px;
}

@media (min-width: 481px) and (max-width: 834px) {
  .logo {
    align-self: center;
    margin: auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 250px;
  }
}
